@model IEnumerable<TrendsValley.Models.Models.AdminActivity>
@{
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;

        pageNo = pager.CurrentPage;
    }

    var lang = Context.Session.GetString("lang");

    Layout = lang == "ar" ? "_ArLayout" : "_Layout";
}

<link href="~/css/InProduct.css" rel="stylesheet" />

<main class="backImgBody" style="background-image: url('https://static.vecteezy.com/system/resources/previews/001/968/633/non_2x/abstract-seamless-white-and-grey-square-3d-pattern-background-modern-geometric-texture-design-illustration-vector.jpg');
    background-repeat: repeat;
    background-size: 300px;
    height: 100px;
    margin-top:-30px;
    margin-left:-20px;
    margin-right:-20px;">
    <div class="" style="height: 100px; width: 100%">
        <div class="flex justify-between items-center flex-wrap mt-0 p-2" style="height: 100px;">
            <div class="" dir="rtl">
                <p class="text-3xl font-semibold dark:text-black">
                    @LocalizationService.Translate("ActivityTitle")
                </p>
            </div>
            <div class="sm:mt-4 lg:mt-0 mt-4 bg-white">
                <button type="button" class="focus:outline-none text-white cursor-pointer bg-gray-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-small text-sm p-2 border-1 me-2 mb-2  dark:hover:bg-green-700 dark:focus:ring-green-800" style="margin: 0px; background-color:white; color: #00A63E; ">
                    <b>No. of Records @ViewBag.count</b>
                </button>
            </div>
        </div>
    </div>
    <div class="text-md dark:text-black font-bold p-4 sm:ml-2" style="margin-left:-20px; margin-right:-20px; background-color: white;  border-top: 1px solid black; border-bottom: 1px solid black">
        <p class="bg-whtie">&nbsp; &nbsp; Search</p>
    </div>

    <!-- Search Form - Now points to Search action -->
    <div  style="
 background-image: url('https://static.vecteezy.com/system/resources/previews/001/968/633/non_2x/abstract-seamless-white-and-grey-square-3d-pattern-background-modern-geometric-texture-design-illustration-vector.jpg');
background-repeat: repeat;
background-size: 300px;
height: 150px;
margin-left:-20px;
margin-right:-20px;
padding-top:0px;">
        <form asp-controller="Activity" asp-action="Search" method="get">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
                <!-- General Search -->
                <div>
                    <label class="block text-sm font-medium text-gray-700">Search All</label>
                    <input class="search__input w-full" type="search"
                           placeholder="Search all fields..."
                           name="searchTerm"
                           value="@Context.Request.Query["searchTerm"]">
                </div>

                <!-- Name Search -->
                <div>
                    <label class="block text-sm font-medium text-gray-700">Search by Name</label>
                    <input class="search__input w-full" type="search"
                           placeholder="Search by name..."
                           name="nameSearch"
                           value="@Context.Request.Query["nameSearch"]">
                </div>

                <!-- Date Range Search -->
                <div>
                    <label class="block text-sm font-medium text-gray-700">From Date</label>
                    <input class="search__input w-full" type="date"
                           name="fromDate"
                           value="@Context.Request.Query["fromDate"]">
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">To Date</label>
                    <input class="search__input w-full" type="date"
                           name="toDate"
                           value="@Context.Request.Query["toDate"]">
                </div>
            </div>

            <div class="flex justify-end gap-2 mt-2">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">Search</button>
                <a asp-action="Index" class="px-4 py-2 bg-gray-500 text-white rounded">Reset</a>
            </div>
        </form>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <br />
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-white uppercase bg-white" style="box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);background-color: #00a63e">
                <tr>

                    <th scope="col" class="px-6 py-3 text-center">
                        Username
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Action
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var cat in Model)
                {
                    <tr class="bg-white border-b border-gray-200 hover:bg-green-200 dark:hover:bg-green-200">
                        <th class="px-6 py-4 font-medium text-black text-gray-900 text-center whitespace-nowrap">
                            @cat.User.UserName
                        </th>
                        <th scope="row" class="px-6 py-4 font-medium text-black text-gray-900 text-center whitespace-nowrap">
                            @cat.Description
                        </th>
                        <td class="px-6 py-4 text-center">
                            @cat.ActivityDate
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <br />
        <center>
            <div class="align-content-center">
                <partial name="_ActPager" model="@pager" />
            </div>
        </center>
        <br />
    </div>
</main>

@section Scripts {
    <script src="~/js/categories.js"></script>
}