@model LoginViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signinManager
<div class="fullscreen-div2">
    <br />
    <div class="row col-md-10 offset-md-1" >
        <form method="post" asp-controller="auth" asp-action="SignIn" asp-route-returnurl="@ViewData["ReturnUrl"]" class="signInForm ">
            <div class="row border p-2 rounded-5 mb-5 formContainer register" style="height: 100%;margin-bottom: 50%">
                <div class="col-lg-8">
                    <img src="https://img.freepik.com/free-photo/pretty-girl-black-hat-red-coat-raised-hands-holding-cap-studio-white-wall_273443-4631.jpg?t=st=1742563758~exp=1742567358~hmac=e26a72650ee24d5fb1d99692569466ddfbba103774dc3dcef64b77757b3e581c&w=1380" alt="Alternate Text" class="h-100 w-100"/>
                </div>
                <div class="col-lg-4 mt-5">
                    <h1 class="text-center pt-2 h1-test">Log in</h1>
                    <hr />
                    <div class="form-group singInEmail">
                        <div class="form-floating col-md-12 emailInput">
                            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <span asp-validation-for="Email" class="text-danger fw-bold"></span>
                    </div>

                    <div class="form-group signInPassword">
                        <div class="form-floating col-md-12 passwordInput">
                            <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <span asp-validation-for="Password" class="text-danger" style="font-weight: bold;"></span>
                    </div>
                    <div class="form-group pt-2 text-center d-flex justify-content-evenly">
                        <div class="col-md-12 d-flex align-items-center justify-content-around m-auto">
                            <div class="custom-checkbox">
                                <label>
                                    <input asp-for="RememberMe" />
                                    Remember me
                                </label>
                            </div>
                                <a asp-action="ForgotPassword" class="text-primary">Forgot password ?</a>
                        </div>
                    </div>
                    <div class="form-group pt-3" style="height: 70%;">
                        <div class="col-md-12">
                            <button class="btn btn-success form-control " type="submit">
                                Login
                            </button>
                        </div>
        </form>


        <div class="row mt-4 mb-0 optionsContainer">
            <center>
                <span class="mt-3" style="width:fit-content;height:fit-content;">Don't Have An Account ? <a asp-action="Register" style="text-decoration:underline">Create One Now</a></span>
            </center>

            @{
                var schemes = await signinManager.GetExternalAuthenticationSchemesAsync();
                var loginProviders = schemes.ToList();
            }
            <div class="d-flex align-items-center mt-4 mb-1">
                <div class="flex-grow-1 border-top border-1"></div>
                <span class="px-3 text-muted">Or Sign In With Email</span>
                <div class="flex-grow-1 border-top border-1"></div>
            </div>
            @if (loginProviders.Count() > 0)
            {
                <form asp-controller="Auth" asp-action="ExternalLogin" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" role="form">
                    <div class="text-center mt-4 d-flex align-items-center justify-content-center ">
                        @foreach (var provider in loginProviders)
                        {
                            @if (provider.Name == "Microsoft")
                            {

                                <button type="submit" class="btn mb-2 w-auto border-0 d-inline m-auto" value="@provider.Name" name="provider">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/2048px-Microsoft_logo.svg.png" width="25" style="scale: 1.5"/>
                                </button>
                                <br />
                            }
                            else if (provider.Name == "Google")
                            {

                                <button type="submit" class="mb-2 google-btn w-auto border-0 bg-transparent m-auto" value="@provider.Name" name="provider" style="scale: 1.5">
                                    <img src="~/pics/google.png" width="25" class="me-2"/>
                                </button>
                                <br />
                            }
                            else
                            {

                                <button type="submit" class="btn mb-2 w-auto border-0 m-auto" value="@provider.Name" name="provider">
                                    <img src="https://static.vecteezy.com/system/resources/previews/023/986/613/original/facebook-logo-facebook-logo-transparent-facebook-icon-transparent-free-free-png.png" width="30" style="scale: 1.5"/>
                                </button>
                            }
                        }
                    </div>
                </form>
            }
        </div>
    </div>
</div>

        </div>


</div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
