@model ShoppingCartViewModel
<br />
<br />
<div class="container text-center">
        <h2 class="text-center fs-1">Your Cart</h2>
<hr class="cart-hr"/>

<div class="row">
    <div class="col-lg-9 d-inline mb-4">
            <table class="table d-inline mb-3">
                <thead class="text-center">
                    <tr style="height: 60px;background-color: #04AA6D;color: white;">
                        @* <th>Id</th> *@
                        <th class="product-cell align-ver fs-4">Product</th>
                        <th></th>
                        @* <th>Product Name</th> *@
                        <th class="align-ver fs-4">Product Price</th>
                        <th class="align-ver fs-4 ps-3">Product Quantity</th>
                        <th class="action-cell"></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @{
                        var i = 1;

                    }
                    @foreach (var item in Model.ListCart)
                    {
                        <tr class="border-bottom">
                            @* <td>@i</td> *@
                            <td class="">
                                <img src="~/pics/images.jpg" class="rounded mx-auto d-block" alt="..." width="200px" height="200px">
                            </td>
                            <td class="text-start align-ver fs-4">
                                <p class="fw-bold mt-3">@item.Product.Product_Name</p>
                                <p class="d-inline">size: EX | color: Ex</p>
                            </td>
                            @* <td>@item.Product.Product_Name</td> *@
                            <td class="fw-bold fs-3 align-ver">@item.Product.Product_Price$</td>
                            <td class="w-auto align-ver">
                                <div class="d-flex flex-lg-wrap align-items-center justify-content-center">
                                    <a class="text-end dec-btn" asp-action="decreaseQuantity" asp-route-id="@item.Id">-</a>
                                    <p class="d-inline num-p w-25">@item.Count</p>
                                    <a class="inc-btn" asp-action="increaseQuantity" asp-route-id="@item.Id">+</a>
                                </div>
                                @* <input type="number" class="quantity-input" value="1"> *@
                            </td>
                            <td class="text-start align-ver">
                                <a class="btn btn-danger btn-sm removeItem" asp-action="remove" asp-route-id="@item.Id">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>

                        i++;
                    }
                </tbody>
            </table>

    </div>
        <div class="col-lg-3 order-div">
            <h1 class="mt-2"> Your order </h1>
            <hr />
            <div>
                <h3>Total Price : @Model.OrderHeader.orderTotal$</h3>
                    <a asp-action="ClearCart" class="btn btn-primary text-end mb-3 mt-2 clearCart-btn">Clear Cart</a>
                    <a asp-action="summary" class="btn btn-success mb-3 mt-2 procced-btn">Proceed With Order</a>
            </div>
        </div>
</div>




</div>
<br />
<br />