@model ShoppingCartViewModel

<form method="post">

<div class="row p-4">
    <div class="col-7">
        <h2>Shipping Details</h2>
            <div class="form-group">
                <label>First Name :</label>
                <input asp-for="OrderHeader.appUser.Fname" class="form-control" />
            </div>
            <div class="form-group">
                <label>Last Name :</label>
                <input asp-for="OrderHeader.appUser.Lname" class="form-control" />
            </div>
            <div class="form-group">
                <label>Phone :</label>
                <input asp-for="OrderHeader.appUser.PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label>Postal Code :</label>
                <input asp-for="OrderHeader.appUser.PostalCode" class="form-control" />
            </div>
            <div class="form-group">
                <label>Address :</label>
                <input asp-for="OrderHeader.appUser.StreetAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label>Current City : @Model.city</label>
                <select asp-for="OrderHeader.cityId" class="form-select" asp-items="@Model.CityList">
                    <option disabled selected>--Select City--</option>
                </select>
            </div>
            <div class="form-group">
                <label>Current State : @Model.state</label>
                <select asp-for="OrderHeader.stateId" class="form-select" asp-items="@Model.Statelist">
                    <option disabled selected>--Select State--</option>
                </select>
            </div>
            <br />
           

    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                Order Summary
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        </tr>
                    </thead>
                       @foreach(var item in Model.ListCart)
                        {
                        <tr>

                           <td>@item.Product.Product_Name</td>
                           <td>@item.Count</td>
                           <td>@item.Product.Product_Price.ToString("c")</td>
                            </tr>
                        }
                   
                    <tr>
                        <td>Total</td>
                        <td>@Model.OrderHeader.orderTotal.ToString("c")</td>
                    </tr>
                </table>
            </div>
          
        </div>
            <br />

            <button type="submit" class="btn btn-success w-100">Procced To Checkout</button>
</form>
    </div>
</div>