@model ShoppingCartViewModel

<form method="post">

<div class="row p-4">
    <div class="col-lg-7 col-md-12 mb-3">
            <h2 class="text-center">Shipping Details</h2>
            <hr class="cart-hr" />
            <div class="form-group">
                <div class="form-floating col-md-6 textInput w-100">
                    <input asp-for="OrderHeader.customer.Fname" type="text" class="form-control w-100 mb-4" id="floatingInput">
                    <label class="ps-3" for="floatingInput">First Name</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-floating col-md-6 textInput w-100">
                    <input asp-for="OrderHeader.customer.Lname" type="text" class="form-control mb-4" id="floatingInput">
                    <label class="ps-3" for="floatingInput">Last Name</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-floating col-md-6 textInput w-100">
                    <input asp-for="OrderHeader.customer.phoneNumber" type="text" class="form-control mb-4" id="floatingInput">
                    <label class="ps-3" for="floatingInput">Phone</label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-floating col-md-6 textInput w-100">
                    <input asp-for="OrderHeader.customer.StreetAddress" type="text" class="form-control mb-3" id="floatingInput">
                    <label class="ps-3" for="floatingInput">Address</label>
                </div>
            </div>
            <div class="form-group">
                <label class="mb-2">Current City : @Model.city</label>
                <select asp-for="OrderHeader.cityId" class="form-select" asp-items="@Model.CityList">
                    <option disabled selected>--Select City--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="mb-2 mt-2">Current State : @Model.state</label>
                <select asp-for="OrderHeader.stateId" class="form-select" asp-items="@Model.Statelist">
                    <option disabled selected>--Select State--</option>
                </select>
            </div>
            <br />
           

    </div>
    <div class="col-lg-5 col-md-12 summary-div">
        <div class="card summary-div">
            <div class="card-header text-center fw-bold">
                Order Summary
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        </tr>
                    </thead>
                       @foreach(var item in Model.ListCart)
                        {
                        <tr>

                           <td>@item.Product.Product_Name</td>
                           <td>@item.Count</td>
                           <td>@item.Product.Product_Price.ToString("c")</td>
                            </tr>
                        }
                   
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td>@Model.OrderHeader.orderTotal.ToString("c")</td>
                    </tr>
                </table>
            <button type="submit" class="btn btn-success w-100">Proceed To Checkout</button>
            </div>
          
        </div>
            <br />
    </div>

</form>
</div>