@model ClaimsViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<form method="post">
    <input asp-for="@Model.Role.Id" hidden />
    <br />
    <div class="card shadow border-0">
        <div class="card-body p-2">
            <div class="">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group mt-3 p-2 border rounded">
                            <h5>Products</h5>
                            @for (int i = 0; i < Model.ProductClaimList.Count; i++)
                            {
                                <div class="m-2 form-check">
                                    <input asp-for="@Model.ProductClaimList[i].ClaimType" hidden />
                                    <input asp-for="@Model.ProductClaimList[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Model.ProductClaimList[i].IsSelected">
                                        @Model.ProductClaimList[i].ClaimType
                                    </label>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-3 p-2 border rounded">
                            <h5>Categories</h5>
                            @for (int i = 0; i < Model.CategoryClaimList.Count; i++)
                            {
                                <div class="m-2 form-check">
                                    <input asp-for="@Model.CategoryClaimList[i].ClaimType" hidden />
                                    <input asp-for="@Model.CategoryClaimList[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Model.CategoryClaimList[i].IsSelected">
                                        @Model.CategoryClaimList[i].ClaimType
                                    </label>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-3 p-2 border rounded">
                            <h5>Brands</h5>
                            @for (int i = 0; i < Model.BrandClaimList.Count; i++)
                            {
                                <div class="m-2 form-check">
                                    <input asp-for="@Model.BrandClaimList[i].ClaimType" hidden />
                                    <input asp-for="@Model.BrandClaimList[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Model.BrandClaimList[i].IsSelected">
                                        @Model.BrandClaimList[i].ClaimType
                                    </label>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group mt-3 p-2 border rounded">
                            <h5>States</h5>
                            @for (int i = 0; i < Model.StateClaimList.Count; i++)
                            {
                                <div class="m-2 form-check">
                                    <input asp-for="@Model.StateClaimList[i].ClaimType" hidden />
                                    <input asp-for="@Model.StateClaimList[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Model.StateClaimList[i].IsSelected">
                                        @Model.StateClaimList[i].ClaimType
                                    </label>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-3 p-2 border rounded">
                            <h5>Cities</h5>
                            @for (int i = 0; i < Model.CityClaimList.Count; i++)
                            {
                                <div class="m-2 form-check">
                                    <input asp-for="@Model.CityClaimList[i].ClaimType" hidden />
                                    <input asp-for="@Model.CityClaimList[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Model.CityClaimList[i].IsSelected">
                                        @Model.CityClaimList[i].ClaimType
                                    </label>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group mt-3 p-2 border rounded">
                            <h5>Customers</h5>
                            @for (int i = 0; i < Model.CustomerClaimList.Count; i++)
                            {
                                <div class="m-2 form-check">
                                    <input asp-for="@Model.CustomerClaimList[i].ClaimType" hidden />
                                    <input asp-for="@Model.CustomerClaimList[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label" asp-for="@Model.CustomerClaimList[i].IsSelected">
                                        @Model.CustomerClaimList[i].ClaimType
                                    </label>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                

                

                


                

                

                <div class="form-group mt-3 p-2 border rounded">
                    <h5>Admins</h5>
                    @for (int i = 0; i < Model.AdminUserClaimList.Count; i++)
                    {
                        <div class="m-2 form-check">
                            <input asp-for="@Model.AdminUserClaimList[i].ClaimType" hidden />
                            <input asp-for="@Model.AdminUserClaimList[i].IsSelected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model.AdminUserClaimList[i].IsSelected">
                                @Model.AdminUserClaimList[i].ClaimType
                            </label>
                        </div>
                    }

                </div>

                

                <div class="form-group pt-3 row">
                    <div class="col-md-6">
                        <a class="btn btn-secondary w-100" asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-md-6 ">
                        <input type="submit" class="btn btn-success w-100" value="Update" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>